.todo {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black !important;
}

.stack1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-caja {
  height: 10rem;
  width: 30rem;
  background-color: rgb(248, 254, 255) !important;
  filter: drop-shadow(-23px -16px 0px #2689ba);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

form {
  width: 28rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

fieldset {
  width: 22rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input {
  width: 245px;
  height: 22px;
}

input:hover {
  border-color: rgb(23, 166, 209);
  background-color: rgb(37, 191, 238);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 1.75rem;
  background-color: rgb(191, 210, 216) !important;
}

button:hover {
  background-color: rgb(187, 239, 255);
  border: 0;
}

.stack2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
