.toda {
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toda div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2rem;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 7px;
  background-color: rgb(119, 223, 255);
  font-weight: bold;
}

.toda div:hover {
    cursor: pointer;
    background-color: rgb(211, 245, 255);
    transition: 0.5s;
  }